<form (ngSubmit)="onSubmit()" #form>
  <app-control label="Title">
    <input name="title" id="title" type="text" #input [(ngModel)]="enteredTitle" />
  </app-control>
  <app-control label="Request">
    <textarea name="request" id="request" rows="3" #input [(ngModel)]="enteredText"></textarea>
  </app-control>
  <p>
    <button appButton #btn>
      <!-- This template variable gives you access to the component instance instead of HTMLButtonElement because this button element is a custom component due to the appButton attribute which is set up as the selector in the component class. -->
      Submit
      <span ngProjectAs="icon">→</span>
    </button>
  </p>
</form>
